@import "reset";
@import "global";
@import "variables";

@import "header";


.gotham {
  font-family: "Gotham__Pro";
  font-weight: 400;
}
.simple {
  font-weight: 400;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}